.body {
    background-color: slategrey;
}

.ordered {
    justify-content: center;
    color: brown;
}

.unordered {
    justify-content: center;
    color: blue;
}

.Descriptive {
    justify-content: center;
    color: darkturquoise;
}