.body {
    background-color: slategrey;
}

.ordered {
    justify-content: center;
    color: brown;
}

.unordered {
    justify-content: center;
    color: blue;
}

.Descriptive {
    justify-content: center;
    color: darkturquoise;
}

#list {
    color: yellow;
    border-bottom: black;
}

#hone {
    color: darkviolet;
}

#p2 {
    background-color: black;
    font-family: "Lucida Console";
    color: white;
}

.cheap {
    height: 800px;
    width: 1000px;
}

table  {
    width: 100%;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

tr {
    background-color: chartreuse;
}

th {
    color: darkblue;
}

.back {
    background-color: red;
    width: 90px;
    height: 50px;
}

.musica {
    border: none;
}

.land {
    background-image: url("images/background3.jpg");
    background-repeat: no-repeat;
    background-size: 100%;

}

.nav {
    list-style-type: none;
    text-align: right;
    margin: 0px;
    padding: 0px;
}

.nav li {
    display: inline-block;
    font-size: 20px;
    padding: 5px;

}

form{
    float: right;
    margin-right: 600px;
    width: 550px;
    height: 600px;
    background-color: white;
}

#btnl{
    background-color:green;
    color: white;
}

.column {
    float: left;
    width: 50%;
}