.body {
    background-color: slategrey;
}

.ordered {
    justify-content: center;
    color: brown;
}

.unordered {
    justify-content: center;
    color: blue;
}

.Descriptive {
    justify-content: center;
    color: darkturquoise;
}

#list {
    color: yellow;
    border-bottom: black;
}

#hone {
    color: darkviolet;
}

#p2 {
    background-color: black;
    font-family: "Lucida Console";
    color: white;
}

.cheap {
    height: 800px;
    width: 1000px;
}

table  {
    width: 100%;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

tr {
    background-color: chartreuse;
}

th {
    color: darkblue;
}